div.one {
    background-image: url(../img/trumpet.jpg);
}

div.two {
    background-image: url(../projects/projectimg/portfolio.jpg);
}

div.three {
    background-image: url(../img/urban.jpg);
}
