/*padding en margin op 0 zetten*/
html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eeeeee;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}


/*navigatie van mijn site, mobiel*/
.nav {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    z-index: 998;
    font-size: 4vw;
    font-weight: bold;
    top: 0;
    margin-left: 0;
    left: 0px;
}

.nav ul {
    list-style: none;
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
    margin: 0;
    padding-left: 0px;
    width: 100vw;
    background-color: #393e46;
}

li {
    position: relative;
    top: 3vh;
    z-index: 999;
}

.socialmedia li {
    display: none;
}

a:hover {
    color: #eeeeee;
    text-decoration: none;
    padding-left: 0;
}

a:link {
    color: #eeeeee;
    text-decoration: none;

}

a:visited {
    color: #eeeeee;
    text-decoration: none;
}

/*styling van de articles en texten*/
h1 {
    position: relative;
    font-size: 5em;
    text-align: center;
    margin-left: 0vw;
    margin-right: 4vw;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.8em;
    display: inline-block;
    background-color: rgba(238, 238, 238, 0.5);
    box-shadow: 5px 5px #000000, 10px 10px #00adb5;
    color: #222831;
}

div.one {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    height: 200px;
    width: 200px;
    margin: 2vw;
}

.margin {
    margin-right: 20vw;
    margin-left: 20vw;
}

.intro {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9em;
    white-space: pre-wrap;
    margin: 0;
    padding-bottom: 20px;
}

h2 {
    position: relative;
    display: block;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.5);
    box-shadow: -5px -5px #000000, -10px -10px #00adb5;
    font-size: 2.5em;
    color: #222831;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
}

p.text {
    position: relative;
    display: inline-block;
    font-size: 1.7em;
    color: #222831;
    margin-bottom: 2vh;
    margin-left: -10vw;
    margin-right: -10vw;
}

p a:hover {
    color: #00adb5;
    text-decoration: none;
    padding-left: 0;
}

p a:link {
    color: #00adb5;
    text-decoration: none;

}

p a:visited {
    color: #00adb5;
    text-decoration: none;
}

p a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: #00adb5;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

p a:hover:after {
    width: 100%;
    left: 0;
    background: #00adb5;
}

footer {
    position: relative;
    width: 100%;
    background-color: #222831;
    height: 20px;
    margin-top: 30px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;

}

footer ul li {
    display: inline-block;
    position: relative;
    left: -30px;
    font-size: 7vh;
    margin: 20px;
    color: black;
}

footer ul li a {
    position: relative;
    left: -0px;
    color: black;
    background-color: aliceblue;
    z-index: 999;
}

/*navigatie van mijn site, desktop*/
@media screen and (min-width: 600px) {
    .nav {
        font-family: 'Ubuntu', sans-serif;
        text-align: left;
        font-size: 3.5vw;
        font-weight: bold;
        position: fixed;
        left: -10px;
        top: 0;
        transition: 0.3s;
        margin-left: 0;
        z-index: 998;
        height: 100%;
        background-color: #393e46;
        width: 25vw;
        min-width: 200px;
        padding-top: 20vh;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .nav ul:first-child {
        list-style: none;
        position: relative;
        margin-top: 0;
        margin-left: 3vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;
        max-width: 0%;
        background-color: none;
    }

    .socialmedia {
        position: relative;
        bottom: -25vw;
    }

    .socialmedia li {
        display: flex;
        position: relative;
        margin-bottom: 1vw;
        width: ;
    }

    a:hover {
        position: relative;
        color: #00adb5;
        text-decoration: none;
        padding-left: 5vh;
        transition: 0.1s;
    }

    .socialmedia li a:hover {
        padding-left: 0;
    }

    footer {
        display: none;
    }

    /*verspringen van margin op grote schermen*/
    p.text,
    h2 {
        margin-left: 16vw;
        margin-right: auto;
        max-width: 50vw;
    }

    p.text {
        font-size: 2em;
    }

    section {
        margin-left: 29vw;
        margin-right: 10vw;
    }

    h1 {
        margin-left: 30vw;
        margin-right: 20vw;
    }
}
